<div class="flex">
    <div class="w-1/4">
        <img [src]="productDetails.imageCover" alt="image">
    </div>
    <div class="w-3/4 ">
        <div class="flex flex-col justify-center h-full space-x-5">
            <h1 class="text-3xl">{{ productDetails.title }}</h1>
        <p>{{ productDetails.description }}</p>
        <button
        (click)="addToCart(productDetails._id)"
          class="bg-green-600 text-white text-sm rounded px-3 py-2 mt-5 w-[90%] mx-auto block"
        >
          {{ 'products.addToCart' | translate}}
        </button> 
        </div>
    </div>
</div>