<section class="w-1/2 mx-auto bg-gray-50 p-4 rounded border shadow-sm">
  <h1 class="text-3xl font-light text-green-600 text-center">{{ 'register.register' | translate }}</h1>
  <form [formGroup]="registerForm" (ngSubmit)="submitForm()">
    <div class="mb-1">
      @let nameControl = registerForm.get('name');
      <label
        for="name"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >{{ 'register.name' | translate }}</label
      >
      <input
        formControlName="name"
        type="text"
        id="name"
        class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-blue-500"
      />
      @if(nameControl?.errors && nameControl?.touched
      ) {

      <div
        class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
        role="alert"
      >
        <svg
          class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Danger</span>
        <div>
          <ul class="mt-1.5 list-disc list-inside">
            @if(nameControl?.getError('required')) {
            <li>{{ 'register.nameRequired' | translate }}</li>
            } @else if(nameControl?.getError('minlength')) {
            <li>{{ 'register.nameMinLength' | translate }}</li>
            } @else if(nameControl?.getError('maxlength')) {
            <li>{{ 'register.nameMaxLength' | translate }}</li>

            }
          </ul>
        </div>
      </div>
      }
    </div>
    <div class="mb-1">
      @let emailControl = registerForm.get('email');
      <label
        for="email"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >{{ 'register.email' | translate }}</label
      >
      <input
        formControlName="email"
        type="email"
        id="email"
        class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500"
      />
      @if(emailControl?.errors && emailControl?.touched)
      {
        <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
          <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
          </svg>
          <span class="sr-only">Danger</span>
          <div>
            
              <ul class="mt-1.5 list-disc list-inside">
                @if(emailControl?.getError('required'))
                {
                  <li>{{ 'register.emailRequired' | translate }}</li>
                }
                @else if(emailControl?.getError('email'))
                {
                  <li>{{ 'register.emailPattern' | translate }}</li>
                }
            </ul>
          </div>
        </div>
      }
    </div>
    <div class="mb-1">
      @let passwordControl = registerForm.get('password');
      <label
        for="password"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >{{ 'register.password' | translate }}</label
      >
      <input
        formControlName="password"
        type="password"
        id="password"
        class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500"
      />
      @if(passwordControl?.errors && passwordControl?.touched)
      {
        <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
          <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
          </svg>
          <span class="sr-only">Danger</span>
          <div>
              <ul class="mt-1.5 list-disc list-inside">
                @if(passwordControl?.getError('required'))
                {
                  <li>{{ 'register.passwordRequired' | translate }}</li>
                }@else if(passwordControl?.getError('pattern'))
                {
                  <li>{{ 'register.passwordPattern' | translate }}</li>
                }
                
                
            </ul>
          </div>
        </div>
      }
    </div>
    <div class="mb-1">
      @let rePasswordControl = registerForm.get('rePassword');
      <label
        for="rePassword"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >{{ 'register.rePassword' | translate }}</label
      >
      <input
        formControlName="rePassword"
        type="password"
        id="rePassword"
        class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500"
      />
      @if(rePasswordControl?.errors && rePasswordControl?.touched)
      {
        <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
          <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
          </svg>
          <span class="sr-only">Danger</span>
          <div>
              <ul class="mt-1.5 list-disc list-inside">
                @if(rePasswordControl?.getError('required'))
                {
                  <li>{{ 'register.rePasswordRequired' | translate }}</li>
                }
                
            </ul>
          </div>
        </div>
      }
      @if(registerForm.getError('mismatch') && rePasswordControl?.touched)
      {
        <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
          <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
          </svg>
          <span class="sr-only">Danger</span>
          <div>
              <ul class="mt-1.5 list-disc list-inside">
                  <li>{{ 'register.rePasswordMisMatch' | translate }}</li>
               
                
            </ul>
          </div>
        </div>
        
      }
    </div>
    <div class="mb-2">
      @let phoneControl = registerForm.get('phone');
      <label
        for="phone"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >{{ 'register.phone' | translate }}</label
      >
      <input
        formControlName="phone"
        type="tel"
        id="phone"
        class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500"
      />
      @if(phoneControl?.errors && phoneControl?.touched)
      {
        <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
          <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
          </svg>
          <span class="sr-only">Danger</span>
          <div>
              <ul class="mt-1.5 list-disc list-inside">
                @if(phoneControl?.getError('required'))
                {
                  <li>{{ 'register.phoneRequired' | translate }}</li>
                } @else if(phoneControl?.getError('pattern'))
                {
                  <li>{{ 'register.phonePattern' | translate }}</li>
                }
                
            </ul>
          </div>
        </div>
      }
    </div>
    <button
      type="submit"
      class="btn-main" [disabled]="isLoading"
    >
      {{ 'register.submit' | translate }}
      @if(isLoading){
        <i class="fas fa-spin fa-spinner"></i>
      }
    </button>
    @if(msgError){
      <p class="bg-red-300 text-white p-4 mt-2">{{ msgError }}</p>
    }
    @if(isSuccess){
      <p class="bg-green-300 text-white p-4 mt-2">{{ success }}</p>
    }
    
  </form>
</section>
