<div class="w-[50%] mx-auto bg-slate-50 rounded-sm border shadow p-2">
  <h1 class="text-green-600 text-3xl font-bold text-center">
    {{ 'checkout.shipmentDetails' | translate }}
  </h1>
  <form [formGroup]="checkoutFormGroup" (ngSubmit)="submitCheckoutForm()">
    <div class="mb-1">
      @let DetailsControl = checkoutFormGroup.get('details');
      <label
        for="Details"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >{{ 'checkout.details' | translate }}</label
      >
      <input
        formControlName="details"
        type="text"
        id="Details"
        class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      />
      @if(DetailsControl?.errors && DetailsControl?.touched) {
      <div
        class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
        role="alert"
      >
        <svg
          class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Danger</span>
        <div>
          <ul class="mt-1.5 list-disc list-inside">
            @if(DetailsControl?.getError('required')) {
            <li>{{ 'checkout.detailsRequired' | translate }}</li>
            }
          </ul>
        </div>
      </div>
      }
    </div>
    <div class="mb-1">
      @let phoneControl = checkoutFormGroup.get('phone');
      <label
        for="phone"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >{{ 'checkout.phone' | translate }}</label
      >
      <input
        formControlName="phone"
        type="tel"
        id="phone"
        class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      />
      @if(phoneControl?.errors && phoneControl?.touched) {
      <div
        class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
        role="alert"
      >
        <svg
          class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Danger</span>
        <div>
          <ul class="mt-1.5 list-disc list-inside">
            @if(phoneControl?.getError('required')) {
            <li>{{ 'checkout.phoneRequired' | translate }}</li>
            } @else if(phoneControl?.getError('pattern')){
                <li>{{ 'checkout.phonePattern' | translate }}</li>
            }
          </ul>
        </div>
      </div>
      }
    </div>
    <div class="mb-1">
        @let cityControl = checkoutFormGroup.get('city');
        <label
          for="city"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >{{ 'checkout.city' | translate }}</label
        >
        <input
          formControlName="city"
          type="text"
          id="city"
          class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />
        @if(cityControl?.errors && cityControl?.touched) {
        <div
          class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
          role="alert"
        >
          <svg
            class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
            />
          </svg>
          <span class="sr-only">Danger</span>
          <div>
            <ul class="mt-1.5 list-disc list-inside">
              @if(cityControl?.getError('required')) {
              <li>{{ 'checkout.cityRequired' | translate }}</li>
              }
            </ul>
          </div>
        </div>
        }
      </div>
      <button class="btn-main" type="submit"><i class="fa fa-credit-card"></i> {{ 'checkout.onlinePayment' | translate }}</button>
  </form>
</div>
