<form [formGroup]="forgetPasswordForm" (ngSubmit)="submitForgetPasswordForm()">
  <div
    class="w-2/4 mx-auto px-5 rounded-md bg-slate-200 h-60 flex flex-col justify-center align-middle items-center"
  >
  <h1 class="text-3xl text-green-600 text-center font-bold pb-4">{{ 'forgetPassword.enterEmail' | translate }}</h1>
    <input
      type="text"
      formControlName="email" pb-2
      class="w-3/4 p-2 rounded-md border-green-400 focus:ring-green-500 focus:border-green-500"
      placeholder="{{ 'forgetPassword.email' | translate }}"
    />
    @let forget = forgetPasswordForm.get('email');
     @if(forget?.errors &&
    forget?.touched) {
    <div class="alert">
      @if(forget?.errors?.['required']){
        <p>{{ 'forgetPassword.emailRequired' | translate }}</p>  
       } @else if(forget?.errors?.['email']){
        <p>{{ 'forgetPassword.emailPattern' | translate }}</p>
      }
    </div>
    }
    @if(errorMsg){
        <div class="alert">
            <p>{{ errorMsg }}</p>
        </div>
    }
    <div class="flex justify-end w-3/4 mt-5">
      <button
        class="bg-green-600 text-white text-1xl px-3 py-2 rounded-md hover:bg-white hover:text-green-600 transition-all duration-300"
      >
      {{ 'forgetPassword.sendCode' | translate }} @if (isloading) {
        <i class="fa fa-spin fa-spinner"></i>
        }
      </button>
    </div>
  </div>
</form>
