<section>
    <input
      type="text"
      class="w-full mx-auto rounded-md p-2 m-2 text-green-600 font-thin text-1xl focus:ring-green-500 focus:border-green-500"
      [(ngModel)]="result"
      placeholder="{{ 'brand.search' | translate}}"
    />
  </section>
<section>
    <h2>{{ 'brand.shopPopualar' | translate}}</h2>
    <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-10">
      @for (brand of brands |  brand : result; track brand._id) {
      <div class="card border border-gray-400/50 rounded-md overflow-hidden shadow relative">
       <div  class="cursor-pointer">
          <div class="card-image">
              <img
                [src]="brand.image"
                [alt]="brand.name"
                class="w-full h-[250px] object-contain"
              />
            </div>
            <div class="card_body px-2 py-4">
              <h4 class="text-green-500 text-sm">
                {{ brand.name | uppercase }}
              </h4>
            
            </div>
       </div>
      </div>
      }
    </div>
  </section>
  